.face{
    height: 400px;
    width: 400px;
    background-color: #ffa511;
    border-radius: 50%;
}

.mouth{
    height: 75px;
    width: 200px;
    position: absolute;
    top: 250px;
    left: 100px;
    background-color: brown;
    border-bottom-left-radius: 50% ;
    border-bottom-right-radius: 50% ;
}

.right-eye, .left-eye{
    height: 50px;
    width: 50px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 100px;
    left: 100px;
    right: 100px;
}

.right-eye{
    left: 270px;
}