@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0.5rem;
    font-family: 'Roboto','Times New Roman', Times, serif;
    text-align: center;
}

nav{
    /* margin: 10px; */
    /* text-align: center; */
    border: 2px solid #333;
    border-radius: 2rem;
    margin : 0 auto 1rem;
    font-size: 3rem;
    line-height: 7rem;
}

h2{
    color: black;
    padding: 1rem;
    background-color: gold;
    border-radius: 2rem 2rem 0 0;
}

ul{
    list-style-type : none;
}

li{
    border-top: 1px solid #333;
}

li a{
    display: block;
}

li a, li a:visited{
    text-decoration: none;
    color: #333;
}

li a:hover, li a:focus{
    background-color: #333;
    color : whitesmoke;
    cursor: pointer;
}

li:last-child a{
    border-radius: 0 0 2rem 2rem;
}
p{
    text-align: center;
}