/* Page Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsla(0, 0%, 0%, 0.39);
}

/* Navigation Bar */
.Navi{
    height: 55px;
    width: 100%;
    background-color: black;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
}
.Navi .logo #spotifyLogo    {
    height: 42px;
    width: 42px;
    margin-left: 10px;
    cursor: pointer;
}
.Navi .logo #brand_name{
    font-size: 45px;
    cursor: pointer;
}
.Navi .option ul{
    margin-right: 25px;
    display: flex;
    gap: 35px;
    list-style: none;
}

/* Footer */
.footer{
    height: 12vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: rgba(68, 42, 42, 0.479);
    bottom: 0;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}
.footer #range{
    display: block;
    height: 12px;
    width: 95vw;
    margin: 10px auto ;
    cursor: pointer;
}
#song_name{
    font-size: 15px;
}
.footer .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
    margin-top: -20px;
}