div{
    height: 150px;
    width: 500px;
    background-color: pink;

    /* border-width: 2px;
    border-style: solid;
    border-color: black; */

    border: 5px solid rgb(8, 8, 8);
    border-left-style: solid;
    border-left-color: black;

    border-radius: 12px;
    
    margin: 10px;
    padding: 20px;

    border-bottom-right-radius: 100px;
    display: inline-block;
    
}

h1{
    border-style: dashed;
    border-color: green;
    margin: 0px;
}

button{
    display: block;
    border: 5px solid black;
    background-color: aqua;
    border-radius: 10px;
    padding: 0px 10px;
    margin-left: 50%;
    
}