

#magic{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: red;
    margin: 0 auto;
    margin-top: 50px;
    transition: all 1s ease;
}

#magic:hover{
    margin-top: 500px;
    background-color: orangered;
    transform: scale(1.2);
}

