*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    color: #ffffff;
    font-size: 90px;
}

.clock{
    margin-top: 10px;
    height: 110px;
    width: 100%;
    text-align: center;
    padding: 5px;
    border: 2px solid orangered;
    background-color: orangered;
    border-radius: 26px;
}